body {
    margin: 0;
    background-color: #000;
    color: #eee;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
}

header {
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}

header nav {
    display: flex;
    gap: 20px;
}

header a {
    color: #eee;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px; /* Added for a rounded effect */
}

header a:hover {
    background-color: #eee;
    color: #000;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 0.5%;
}

.search-bar {
    height: 30px;
    border-radius: 20px;
    padding: 0 10px 0 35px; /* Padding to leave space for the icon */
    border: 1px solid #444;
    background-color: #ffffff;
    color: #eee;
    transition: border-color 0.3s;
}

.search-bar:focus {
    outline: none;
    border-color: #0071E3;
}

.search-icon {
    position: absolute;
    left: 10px;
    font-size: 16px;
    color: #ccc;
    pointer-events: none; /* Prevents the icon from blocking the input */
}

.phone-details, .price-section, .reviews-section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color:#1F1F26;
    border-radius: 10px;
    box-shadow: 0 0 10px #1F1F26;
    margin-bottom: 20px;
}

.phone-details .detail-item, .review-item, .price-section .price-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #444;
}

.phone-details .detail-item:last-child, .review-item:last-child, .price-section .price-item:last-child {
    border-bottom: none;
}

.phone-details .detail-item i, .price-section .price-item i {
    color: #0071E3;
    margin-right: 10px;
    font-size: 20px;
}

.phone-details .detail-item .title, .price-section .price-item .title {
    font-weight: bold;
    flex: 1;
}

phone-details .detail-item .value, .price-section .price-item .value {
    flex: 2;
}

.reviews-section h2, .write-review h3, .price-section h2 {
    text-align: center;
}

.review-item .review-text {
    margin-bottom: 5px;
}

.review-rating .fa-star {
    color: #ccc;
}

.review-rating .fa-star.checked {
    color: #0071E3;
}

.write-review {
    padding: 20px 0;
    text-align: center;
}

.write-review textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #222;
    color: #eee;
}

.write-review .rating {
    margin-bottom: 10px;
}

.write-review .fa-star {
    color: #ccc;
    font-size: 20px;
    cursor: pointer;
}

.write-review .fa-star.checked {
    color: #0071E3;
}

#submit-review, #fetch-trade-in-value {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0071E3;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit-review:hover, #fetch-trade-in-value:hover {
    background-color: #005bb5;
}

#buy-now, #trade-in {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 15px 0;
    border: none;
    border-radius: 5px;
    background-color: #0071E3;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#buy-now:hover, #trade-in:hover {
    background-color: #005bb5;
}

/* Trade-In Modal */
.trade-in-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #1F1F26;
    backdrop-filter: blur(5px);
}

.trade-in-modal-content {
    background-color: #111;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 0 10px #1F1F26;
    text-align: center;
}

#close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close-modal:hover, #close-modal:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

